# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Node
node_modules/

# Dataset files
datasets/*.csv

# Environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/